<section class="mt_email-lightbox">
	<div class="mt_email-lightbox__text">
		<div class="mt_email-lightbox__heading">
			<h1>
				Sign up
				<br>
				for our emails
			</h1>
		</div>
		<div class="mt_email-lightbox__subheading">
			<p>
				Sign up for the latest in fashion, footwear and home that&rsquo;s perfect for you.
				<br>
				<br>
				Simply enter your details and you&#39;ll be receiving emails from JD Williams in no time.
			</p>
		</div>
	</div>

	<div class="mt_email-lightbox__form">
		<p class="mt_email-lightbox__form-info"><span>*</span> Please complete all boxes</p>
		<form action="/shop/emailsignup/save.action" method="post">
			<div>
				<label id="mtPersonalTitleLabel">Title <span>*</span></label>
				<select id="mtPersonalTitle" name="Title" tabindex="0">
					<option value="">
						Please select
					</option>
					<option value="Mrs">
						Mrs
					</option>
					<option value="Ms">
						Ms
					</option>
					<option value="Miss">
						Miss
					</option>
					<option value="Mr">
						Mr
					</option>
				</select>
			</div>

			<div>
				<label for="mtPersonalFirstname">First Name <span>*</span></label>
				<input autocomplete="off" id="mtPersonalFirstname" maxlength="30" name="FirstName" tabindex="0" type="text">
			</div>

			<div style="display: none;">
				<label for="mtPersonalSurname">Surname <span>*</span></label>
				<input autocomplete="off" id="mtPersonalSurname" maxlength="30" name="Surname" tabindex="0" type="text">
			</div>

			<div>
				<label id="mtEmail">Email Address <span>*</span></label>
				<input autocomplete="off" id="mtEmail" maxlength="250" name="EmailAddress" tabindex="0" type="email">
			</div>

			<div>
				<label id="mtEmailConfirm">Re-type Email Address <span>*</span></label>
				<input autocomplete="off" id="mtEmailConfirm" maxlength="250" name="EmailAddressConfirm" tabindex="0" type="email">
			</div>

			<div style="display: none;">
				<label id="mobileLabel">Mobile</label>
				<input id="mobile" name="MobilePhone" tabindex="0" type="mobile">
			</div>

			<div class="mt_email-lightbox__form-btn" id="eMeSignUpBtn">
				<button class="submit" tabindex="0" type="submit">Sign Up</button>
			</div>

			<p class="mt_email-lightbox__form-footer">You may unsubscribe from this mailing at any time as detailed in the emails sent to you.</p>
		</form>
	</div>
	<button class="mt-close" name="button" type="button">&times;</button>
</section>