<div class="email-signup-overlay-container">
	<div class="email-signup-overlay-background"></div>
	<section class="mt_email-lightbox">
		<div class="mt_email-lightbox__text">
			<div class="mt_email-lightbox__heading">
				<span class="mt_email-lightbox__heading-title">
					Sign up
					<br> 
					for our emails
				</span>
			</div>
			<div class="mt_email-lightbox__subheading">
				<p>
					Sign up for the latest in fashion, footwear and home that&rsquo;s perfect for you.
					<br>
					<br>
					Simply enter your details and you&#39;ll be receiving emails from JD Williams in no time.
				</p>
			</div>

			<div class="thank-you">
				<span class="mt_email-lightbox__heading-title">Thank you!</span>
				<p>Welcome, keep your eyes peeled on your inbox.</p>
				<a class="btn primaryBtn" href="#">Take me Shopping</a>
			</div>
		</div>
		<div class="mt_email-lightbox__form">
			<p class="mt_email-lightbox__form-info"><span>*</span> Please complete all boxes</p>
			<form action="/shop/emailsignup/save.action" method="post">
				<div data-required class="form-row">
					<label id="mtPersonalTitleLabel">Title</label>
					<select id="mtPersonalTitle" name="Title" tabindex="0">
						<option value="">
							Please select
						</option>
						<option value="Mrs">
							Mrs
						</option>
						<option value="Ms">
							Ms
						</option>
						<option value="Miss">
							Miss
						</option>
						<option value="Mr">
							Mr
						</option>
					</select>
					<span class="validation_message">Please select a title.</span>
				</div>

				<div data-required class="form-row">
					<label for="mtPersonalFirstname">First Name</label>
					<input autocomplete="off" id="mtPersonalFirstname" maxlength="30" name="FirstName" tabindex="0" type="text">
					<span class="validation_message">Please enter your first name.</span>
				</div>

				<div data-required class="form-row">
					<label for="mtPersonalSurname">Surname</label>
					<input autocomplete="off" id="mtPersonalSurname" maxlength="30" name="Surname" tabindex="0" type="text">
					<span class="validation_message">Please enter a last name.</span>
				</div>

				<div data-required class="form-row">
					<label id="mtEmail">Email Address</label>
					<input autocomplete="off" id="mtEmail" maxlength="250" name="EmailAddress" tabindex="0" type="email">
					<span class="validation_message">Please enter a valid email address.</span>
				</div>

				<div data-required class="form-row">
					<label id="mtEmailConfirm">Re-type Email Address</label>
					<input autocomplete="off" id="mtEmailConfirm" maxlength="250" name="EmailAddressConfirm" tabindex="0" type="email">
					<span class="validation_message">Please enter two identical email addresses.</span>
				</div>

				<div style="display: none;">
					<label id="mobileLabel">Mobile</label> <input id="mobile" name="MobilePhone" tabindex="0" type="mobile">
				</div>

				<div class="mt_email-lightbox__form-btn" id="eMeSignUpBtn">
					<button class="submit" tabindex="0" type="submit">Sign Up</button>
				</div>

				<p class="mt_email-lightbox__form-footer">You may unsubscribe from this mailing at any time as detailed in the emails sent to you.</p>
			</form>
		</div>
		<button class="email-signup-overlay-close" name="button" type="button">&times;</button>
	</section>
</div>