/* Container & Background Styles */
.email_overlay_test_loaded .email-signup-overlay-container,
.email_overlay_test_loaded .email-signup-overlay-container .email-signup-overlay-background {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
}

.email_overlay_test_loaded .email-signup-overlay-container {
	opacity: 0;
	z-index: 99999;
	transition: opacity .2s ease-in;
}

.email_overlay_test_loaded:not(.show_email_overlay) .email-signup-overlay-container {
	pointer-events: none;
}

.email_overlay_test_loaded .email-signup-overlay-container .email-signup-overlay-background {
	z-index: 1;
	background: rgba(0,0,0,.5);
}

/* Generic Styles */
.email_overlay_test_loaded .email-signup-overlay-container * {
	box-sizing: border-box;
	transition: all .35s ease-in;
}

/* Lightbox Styles */
.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox {
	z-index: 2;
	background: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	left: 50%;
	padding: 0;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 850px !important;
	justify-content: flex-end;
}

/* Left (Text) Column Styling */
.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__text {
	align-content: center;
	align-items: center;
	background: #E7963B;
	color: #fff;
	display: block;
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	width: 40%;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__text .mt_email-lightbox__heading-title {
	color: #fff;
	font-family: "GalanoGrotesque-SemiBold", Arial, sans-serif;
	font-size: 43px;
	font-weight: normal;
	letter-spacing: 0.864px;
	line-height: 43px;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	text-transform: uppercase;
}

.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__text p {
	color: #fff;
	font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0.24px;
	line-height: 16px;
}

/* Right (Form) Column Styles */
.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__form {
	background: #fff;
	display: block;
	padding: 40px 20px;
	width: 60%;
	overflow: hidden;
}

.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__form span {
	font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
	color: #f00;
}

.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__form label {
	font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
	width: 160px;
	flex-grow: 0;
}

.email_overlay_test_loaded .email-signup-overlay-container .form-row.invalid_field input,
.email_overlay_test_loaded .email-signup-overlay-container .form-row.invalid_field select {
	border-color: #ed6c6c;
}

.email_overlay_test_loaded .email-signup-overlay-container .form-row.invalid_field .validation_message {
	grid-row: 2;
	display: block;
	font-size: 12px;
	margin-top: 5px;
	text-align: right;
	grid-column: 1 / span 2;
}

.email_overlay_test_loaded .email-signup-overlay-container .form-row {
	width: 100%;
	padding: 5px;
	margin: 0 0 5px;

	display: grid;
	align-items: center;
    grid-column-gap: 15px;
    grid-template-rows: auto;
    grid-template-columns: 160px 1fr;
}

.email_overlay_test_loaded .email-signup-overlay-container .form-row[data-required] label::after {
	content: " *";
	color: #f00;
}

.email_overlay_test_loaded .email-signup-overlay-container .validation_message {
	display: none;
}

.email_overlay_test_loaded .email-signup-overlay-container .formSubmitErrorMessage {
    color: red;
    text-align: right;
    margin: 10px 10px -20px;
    font-size: 14px;
}

.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__form input,
.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__form select {
	font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
	border: 1px #dadada solid;
	border-radius: 3px;
	height: 30px;
	box-sizing: border-box;
	margin: 5px 0;
	padding: 0 4px;
	line-height: 30px;
	grid-row: 1;
    grid-column: 2;
}

.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__form-info {
	display: block;
	font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	padding-bottom: 5%;
}

.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__form-btn {
	float: right;
	margin: 7% 2% 0;
}

.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__form-btn button {
	background: #3a981e;
	border: none;
	color: #fff;
	font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0;
	padding: 0.6em 4.55em;
	text-decoration: none;
	text-transform: uppercase;
}

.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox__form-footer {
	clear: left;
	display: block;
	float: left;
	font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
	font-size: 10px;
	letter-spacing: .005em;
	line-height: 14px;
	padding-top: 40px;
}

/* Close Button Styles */
.email_overlay_test_loaded .email-signup-overlay-container .mt_email-lightbox .email-signup-overlay-close {
	background: none;
	border: none;
	color: #000;
	font-size: 28px;
	font-weight: 100;
	height: 36px;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 36px;
	z-index: 2;
}

/* Thank You Styles */
.email_overlay_test_loaded .email-signup-overlay-container .thank-you {
	display: none;
}

.email_overlay_test_loaded .email-signup-overlay-container .thank-you .mt_email-lightbox__heading-title {
	color: #fff;
	font-family: "GalanoGrotesque-SemiBold", Arial, sans-serif;
	font-size: 48px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}

.email_overlay_test_loaded .email-signup-overlay-container .thank-you p {
	color: #fff;
	font: 0.9em/1.6em "GalanoGrotesque-Regular",Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin: 16px auto;
}

.email_overlay_test_loaded .email-signup-overlay-container .thank-you a.btn.primaryBtn {
	background: #3a981e;
	color: #fff;
	display: inline-block;
	font-family: "GalanoGrotesque-Medium",Arial,Helvetica,sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 21px;
	margin: 0 auto;
	padding: 10px;
	text-transform: uppercase;
}

/* Overlay Thank You State Styles */
.email_overlay_test_loaded .thank-you-visible.email-signup-overlay-container .mt_email-lightbox__text > *:not(.thank-you) {
	display: none;
}

.email_overlay_test_loaded .thank-you-visible.email-signup-overlay-container .thank-you {
	text-align: center;
	margin: 0 auto;
	display: block;
}

.email_overlay_test_loaded .thank-you-visible.email-signup-overlay-container .mt_email-lightbox__form {
    opacity: 0;
    pointer-events: none
}

.email_overlay_test_loaded .thank-you-visible.email-signup-overlay-container .mt_email-lightbox__text {
    width: 100%;
}

/* Overlay Active State Styles */
.email_overlay_test_loaded.show_email_overlay {
	overflow: hidden;
}

.email_overlay_test_loaded.show_email_overlay .email-signup-overlay-container {
	opacity: 1;
}