#monetate_lightbox_content_container * {
  box-sizing: border-box;
}

/* ===================================================== */
/* Default Styles
/* ===================================================== */
.mt_email-lightbox {
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  left: 50%;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 850px !important;
}

.mt_email-lightbox__text {
  align-content: center;
  align-items: center;
  background: #E7963B;
  color: #fff;
  display: block;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  width: 40%;
}

.mt_email-lightbox__text h1 {
  color: #fff;
  font-family: "GalanoGrotesque-SemiBold", Arial, sans-serif;
  font-size: 43px;
  font-weight: normal;
  letter-spacing: 0.864px;
  line-height: 43px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-transform: uppercase;
}

.mt_email-lightbox__text p {
  color: #fff;
  font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0.24px;
  line-height: 16px;
}

.mt_email-lightbox__form {
  background: #fff;
  display: block;
  padding: 40px 20px;
  width: 60%;
}

.mt_email-lightbox__form span {
  color: #f00;
}

.mt_email-lightbox__form label {
  display: inline-block;
  font-family: "GalanoGrotesque-Medium";
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  width: 200px;
}

.mt_email-lightbox__form select {
  height: 35px;
  margin: 5px 0 10px;
  padding: 2px 30px 2px 5px;
}

.mt_email-lightbox__form input {
  border: 1px #dadada solid;
  border-radius: 3px;
  height: 22px;
  margin: 5px 0 10px;
  padding: 1px 0 1px 5px;
  width: 250px;
}

.mt_email-lightbox__form-info {
  display: block;
  font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding-bottom: 5%;
}

.mt_email-lightbox__form-btn {
  float: right;
  margin: 7% 2% 0;
}

.mt_email-lightbox__form-btn button {
  background: #3a981e;
  border: none;
  color: #fff;
  font-family: "GalanoGrotesque-Medium";
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
  padding: 0.6em 4.55em;
  text-decoration: none;
  text-transform: uppercase;
}

.mt_email-lightbox__form-footer {
  clear: left;
  display: block;
  float: left;
  font-family: "GalanoGrotesque-Regular", Arial, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: .005em;
  line-height: 14px;
  padding-top: 40px;
}

.mt_email-lightbox .mt-close {
  background: none;
  border: none;
  color: #000;
  font-size: 28px;
  font-weight: 100;
  height: 36px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
}

/* ===================================================== */
/* Thank You Styles
/* ===================================================== */
.mt_email-lightbox.thank-you {
  align-content: center;
  align-items: center;
  background: #E7963B;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 0;
  width: 600px !important;
}

.mt_email-lightbox.thank-you h1 {
  color: #fff;
  font-family: "GalanoGrotesque-SemiBold", Arial, sans-serif;
  font-size: 48px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.mt_email-lightbox.thank-you p {
  color: #fff;
  font: 0.9em/1.6em "GalanoGrotesque-Regular",Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 16px auto;
}

.mt_email-lightbox.thank-you a.btn.primaryBtn {
  background: #3a981e;
  color: #fff;
  display: inline-block;
  font-family: "GalanoGrotesque-Medium",Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 21px;
  margin: 0 auto;
  padding: 10px;
  text-transform: uppercase;
  text-transform: uppercase;
}