<section class="mt_email-lightbox thank-you">
	<h1>Thank you!</h1>
	<p>Welcome, keep your eyes peeled on your inbox.</p>
	<a class="btn primaryBtn" href="#" onclick="document.querySelector('#monetate_lightbox #monetate_lightbox_mask').click()">Take me Shopping</a>
	<button class="mt-close" name="button" type="button" onclick="document.querySelector('#monetate_lightbox #monetate_lightbox_mask').click()">&times;</button>
</section>